body {
  margin: 0;
  padding: 0;
  font-family: open sans, helvetica;
  font-style: italic;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}
li {
  /* float: left; */
  list-style: none;
  padding: 5px;
}
li:hover a {
  color: red;
}
button {
  color: #0099cc;
  background: transparent;
  border: 2px solid #0099cc;
  border-radius: 6px;
  border: 1 px solid white;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.btn1 {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}
.btn1:hover {
  background-color: #008cba;
  color: white;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-item {
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  text-align: center;
  overflow: auto;
}

.main-container {
  width: 100%;
  background-color: #0077b3;
  text-align: center;
  margin: auto;
}
#picture {
  max-width: 100%;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  padding: 5px;
}

#repos {
  background-color: #005580;
  height: auto;
  padding-bottom: 25px;
}
#table {
  margin: auto;
}
#footer {
  position: relative;
  bottom: 10px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#footer li {
  float: left;
}
